



body{
    background-color: rgba(19, 15, 15, 0.973);
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}



header{
    background-color: rgb(138, 15, 15);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
    width: 100%;
}
nav{
    background-color:rgb(230,0,38);
    height: 100px;
    width: 100%;

}



 nav a{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    text-align: center;

  
}

main{
    background-color: rgba(184, 71, 71, 0.74);
    height: 1000px;
    width: 1500px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100px;
    font-family: 'Akronim', cursive;

    
}
.sponsors{
    background-color: rgba(240, 248, 255, 0.89);
    height: 450px;
    width: 100%;

}

.media{
    background-color:black;
    height: 100px;
    width: 100%;
    text-align: center;
}





.bigs img{
    max-width: 160px;
    max-height: 100px;
    padding: 25px;
    vertical-align: middle;
    margin-left: 350px;
   
}


.small img{
    max-width: 110px;
    max-height: 85px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 200px;
    padding: 20px;
}

.media img{
    max-width:50px ;
    max-height: 50px;
    vertical-align: middle;
    padding: 30px;  
}


.matches{
    background-color: rgb(192, 170, 170)
}